.navbar{
    width: 100%;
    height: 50px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbarwrapper{
    height: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navleft{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}

.search{
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
}

.navright{
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconsContainer{
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.topBadge{
    position: absolute;
    top: -1px;
    background-color: red;
    right: 0px;
    font-size: 12px;
    color: white;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons{
    font-size: 26px;
}

.profile_pic{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.line{
    border: none;
    height: 1px;
    color: #a19e9e;
    background: #a19e9e;
}